{% extends 'base.html.twig' %}

{% block body %}

<h1>Categories</h1>
<br />
<table>
<tr>
<td>
	<a href="/forum/general"><p class = "exclude title">General</p></a>
	<p class = "exclude topicdesc">For general discussions</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/critique"><p class = "title exclude">Critique Requests</p></a>
	<p class = "exclude topicdesc">Request reviews</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/recommendations"><p class="title exclude">Recommendations</p></a>
	<p class = "exclude topicdesc">Share your favourite stories!</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/publishing"><p class="title exclude">Publishing</p></a>
	<p class = "exclude topicdesc">Everything you need to know about getting your book on shelves.</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/contests"><p class="title exclude">Contests</p></a>
	<p class = "exclude topicdesc">Information and updates about site contests</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/fantasy"><p class="title exclude">Fantasy</p></a>
	<p class = "exclude topicdesc">*insert fantasy description here*</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/scifi"><p class="title exclude">Science Fiction</p></a>
	<p class = "exclude topicdesc">*science fiction desc*</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/historical"><p class="title exclude">Historical</p></a>
	<p class = "exclude topicdesc">*historical desc*</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
<tr>
<td>
	<a href="/forum/fanfic"><p class="title exclude">Fanfiction</p></a>
	<p class = "exclude topicdesc">*fanfic description*</p>
	<p class = "exclude numTopics">Topics: </p>
</td>
</tr>
</table>

<br />
<br />

{% endblock %}
