{% extends 'base.html.twig' %}

{% block body %}

<h1 id = "add">Edit Work</h1>

{% if adderr is defined %}
<div class="error">{{adderr}}</div>
{% endif %}

<form id = "addchapter" method = "POST" action = "">
	<textarea rows = "30" cols = "5" name = "content" id = "addchaptercontent">{{content}}</textarea>
	<br />
	<br />
	<input type = "submit" value = "Submit Changes">

</form>

<br />

{% endblock %}
