{% extends 'base.html.twig' %}

{% block body %}
  <h2>Main Page</h2>
  <p>Content</p>

  <br />

  <h1>Weekly Highlights</h1>
  <br />
  <h2>Featured Authors</h2>
  <br />

  <ul>
    <li class ="featured">
      <img src ="/img/default.jpg" />
      <p>Featured Author #1</p>
    </li>
    <li class ="featured">
      <img src ="/img/default.jpg" />
      <p>Featured Author #2</p>
    </li>
    <li class ="featured">
      <img src ="/img/default.jpg" />
      <p>Featured Author #3</p>
    </li>
    <li class ="featured">
      <img src ="/img/default.jpg" />
      <p>Featured Author #4</p>
    </li>
    <li class ="featured">
      <img src ="/img/default.jpg" />
      <p>Featured Author #5</p>
    </li>

  </ul>

  <br />

  <h2>Featured Writing</h2>
  <br />

  <ul>

    <li class ="featuredcov">
      <img src ="/coverimg/default.jpg" />
      <p>Title #1</p>
    </li>
    <li class ="featuredcov">
      <img src ="/coverimg/default.jpg" />
      <p>Title #2</p>
    </li>
    <li class ="featuredcov">
      <img src ="/coverimg/default.jpg" />
      <p>Title #3</p>
    </li>
    <li class ="featuredcov">
      <img src ="/coverimg/default.jpg" />
      <p>Title #4</p>
    </li>
    <li class ="featuredcov">
      <img src ="/coverimg/default.jpg" />
      <p>Title #5</p>
    </li>

  </ul>

  <br />

  <h1>News</h1>

  <p>Nothing in this section yet</p>
  <br />
  <br />
  
{% endblock %}
