{% extends 'base.html.twig' %}

{% block body %}

<h1>Library</h1>
<h2>Search for Stories</h2>


<form name = "filter" method = "get" action = "/library">
	<label>Title: </label><input type = "text" name = "title" id = "title">
	<br />
	<br />
	<label>Genre:</label>
	<select name = "genre" id = "genre">
		<option name = "" value = "">Any</option>
		<option name = "Fantasy" value="Fantasy">Fantasy</option>
		<option name = "Science Fiction" value="Science Fiction">Science Fiction</option>
		<option name = "Mystery" value="Mystery">Mystery</option>
		<option name = "Historical Fiction" value="Historical Fiction">Historical Fiction</option>
		<option name = "Fanfiction" value="Fanfiction">Fanfiction</option>
		<option name = "General Fiction" value="General Fiction">General Fiction</option>
		<option name = "Poetry" value="Poetry">Poetry</option>
	</select>
	<br />
	<br />
	<label>Rating:</label>
	<select name = "rating" id = "rating">
		<option name = "" value = "">Any</option>
		<option name = "E" value="E">E</option>
		<option name = "E+" value="E+">E+</option>
		<option name = "T" value="T">T</option>
		<option name = "M" value="M">M</option>
	</select>
	<br />
	<br />
	<label>Word Count:</label>
	<select name = "wordCount" id = "wordCount">
		<option name = "" value = "">Any</option>
		<option name = "5k" value="5k">0-5k</option>
		<option name = "10k" value="10k">5k-10k</option>
		<option name = "50k" value="50k">10k-50k</option>
		<option name = "100k" value="100k">50-100k</option>
		<option name = "100+" value = "100+">100k+</option>
	</select>
	<br />
	<br />
	<button type = "button">Search</button>
</form>

{% endblock %}
