{% extends 'base.html.twig' %}

{% block body %}

<h1 class = "login">Log In</h1>

<div class = "error">{%if message is defined %}{{message}}{% endif %}</div>

<form method = "post" action = "/login" class = "login">
	<label>Email Address:</label>
	<br />
	<input type = "email" name = "email" />
	<br />
	<br />
	<label>Password:</label>
	<br />
	<input type = "password" name = "password" />
	<br />
	<br />
	<input type = "submit" value = "Log In" />
</form>

<br />

<a class = "login" href="/register">Need an account?</a>

{% endblock %}
