{% extends 'base.html.twig' %}

{% block body %}

<form method = "post" action = "/login" id = "login">
	<label>Email Address:</label>
	<br />
	<input type = "email" name = "email" />
	<br />
	<br />
	<label>Password:</label>
	<br />
	<input type = "password" name = "password" />
	<br />
	<br />
	<input type = "submit" value = "Log In" />
</form>

{% endblock %}
