{% extends 'base.html.twig' %}

{% block body %}

<h1 id = "register">Register</h1>

<div class = "error">{%if message is defined %}{{message}}{% endif %}</div>

<form method = "post" action = "/register" id = "register">
	<label>Username:</label>
	<br />
	<input type = "text" name = "username" />
	<br>
	<br/>
	<label>Email Address:</label>
	<br />
	<input type = "email" name = "email" />
	<br />
	<br />
	<label>Birthdate: </label><input type = "date" name = "birthdate" />
	<br />
	<br />
	<label>Password:</label>
	<br />
	<input type = "password" name = "password" />
	<br />
	<br />
	<label>Confirm Password:</label>
	<br />
	<input type = "password" name = "passwordConf" />
	<br />
	<br />
	<input type = "submit" value = "Create Account"/>
</form>

<br />

<a class = "login" href="/login">Already registered? Sign in to your account.</a>

{% endblock %}
